*{
    margin: 0;
    box-sizing: border-box;
}
header{
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: #313764;
}

body{
    background-color: #5e5f9e;
    
}
.pad{
    color:white;
    padding-top: 2em;

}
.container{ 
    font-size: 12px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(70px, 200px));
    gap: 20px;
}
.container img{
    border-radius: 25px;
    margin: 0;
    width: 100%;
    height: 290px;
    object-fit: cover;
}
.center_image h2{
    text-align: center;
      }
.icons img{
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 30%;    
}

@media screen and (min-width: 1400px)
{   .container{
    grid-template-columns: repeat(5, minmax(80px, 250px));
    }
    .center_image h2{
    text-align: center;
      }
}
